/* Print CSS2 document for vu-website */


body {
    background          :   #fff;
    color               :   #000;
    font-family         :   serif;
    font-size           :   0.8em;
    /* text-align          :   justify; */
}


h1, h2, h3, h4 {
    font-family         :   sans-serif;
}


pre, code {
    font-family         :   monospace;
}


pre {
    padding             :   0.8em;
    border              :   solid 2px #000;
}


a {
    color               :   #000;
    text-decoration     :   underline;
}


dt {
    font-weight         :   bold;
}


.content-date {
    margin-top          :   1em;
    font-size           :   0.9em;
}


.xnav,
#page-footer,
#breadcrumbs {
    display             :   none;
}
